* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Variable', sans-serif;
}

.container {
  width: 30%;
  max-width: 1176px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  width: calc(100% / 2);
  padding: 1rem;
  justify-content: space-between;
}

header {
  nav {

    a {
      padding: 1rem;
    }
  }
}