* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Variable', sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav-bar {
  padding: 20px;
  justify-content: space-evenly;
  gap: 38%;
  font-size: 0.9rem;
}

.options {
  gap: 30px;
  align-items: center;
}


/* ================================================= */

main {

  .jumbotron {
    background-image: url('./assets/img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;

  }

  .current-series {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #0282f9;
    position: absolute;
    left: 5%;
    bottom: -6%;
    color: white;
  }

  .content {
    background-color: #303030;
    height: 500px;
  }

}


.icons-group {
  background-color: #0282f9;
  align-items: center;
  height: 180px;
  justify-content: space-around;


  .icon-item {
    height: 6rem;
    width: auto;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    color: white;
  }

  .icon-item img {
    height: 60px;
    width: auto;
  }

}


/* ================================================= */
footer {
  background-image: url('./assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: white;

  a {
    color: #aaa;
    text-decoration: none;
  }

  .footer-links {
    height: 400px;
    padding-top: 30px;
    padding-left: 40px;
    gap: 30px;
    background-image: url('./assets/img/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: 77%;
  }

  .footer-links h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .footer-links ul {
    list-style: none;
    height: 180px;

  }

  .footer-links li {
    margin-bottom: 4px;
    font-size: small;
  }

  .background {
    height: 100px;
    background-color: #303030;
    align-items: center;
    justify-content: space-evenly;
    gap: 58%;

  }

  .social-icons {
    height: auto;
    justify-content: space-evenly;
    gap: 20px;
  }

  .sign-up-now {
    border: 2px solid #057def;
    padding: 10px;
    font-size: large;
  }

  .follow-us {
    color: #057def;
  }


}